@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Epilogue",sans-serif;
}

.navegacion{
    background-color: #2b2b2b;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}

h2{
    font-size: 24px;
    font-weight: 500;
    color: #2b2b2b;
}

.nav-link{
    color: #ffffff;
}
.title_header{
    padding: 167px;
    padding-left: 17rem;
}

.nav-link.active{
    color: #ffffff;
    border-bottom: solid #ffffff 4px;
    border-radius: 2px;
}